@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('./common.css');
@import url('./footer.css');
@import url('./header.css');
body{
    margin: 0;
    padding: 0;
	letter-spacing: 1px;
}
*{
	font-family: 'Oswald', sans-serif;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #191D20;
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid #191D20;
}
a{
    text-decoration: inherit;
    color: inherit;
	cursor: pointer;
}
p{
    margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
button{
	border: none;
	background: none;
	cursor: pointer;
}
